//container
.container() {
  width: 280px;
  margin: 0 auto;

  @media @tablet-widths {
    width: 648px;
  }

  @media @desktop-widths {
    width: 960px;
  }
}

.wrapper() {
  width: 320px;
  margin: 0 auto;

  @media @tablet-widths {
    width: 768px;
  }

  @media @desktop-widths {
    width: 1200px;
  }
}

.clearfix() {
  &::after {
    content: "";

    display: table;
    clear: both;
  }
}

//text
.accentuation-2x() {
  font-size: 30px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.accentuation() {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.title() {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.title-line() {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
}

.description() {
  font-size: 14px;
  line-height: 21px;
  color: @text-alt-color;
  text-transform: uppercase;
}
