@mobile-widths-only: ~"(max-width: 767px)";
@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1200px)";

@base-color: #81b3d2;
@white-color: #ffffff;
@smoky-white-color: #f2f2f2;
@black-color: #000000;
@text-alt-color: #333333;
@grey-color: #eeeeee;

// btn-nav
@light-blue: #9ac2db;
@blue-gray: #678fa8;

// paths
@path-img: "../img";
@path-fonts: "../fonts";
