@mobile-widths-only: ~"(max-width: 767px)";
@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1200px)";

@base-color: #81b3d2;
@base-color-hvr: #669ec0;
@base-color-down: #5496bd;
@white-color: #ffffff;
@smoky-white-color: #f2f2f2;
@black-color: #000000;
@black-color-03: rgba(0, 0, 0, 0.3);
@text-alt-color: #333333;
@grey-color: #eeeeee;

// btn-nav
@light-blue: #9ac2db;
@blue-gray: #678fa8;

// paths
@path-img: "../img";
@path-fonts: "../fonts";
