.advantages__item {
  padding: 28px 0;
  background-color: @grey-color;

  &--style-change {
    padding: 0;
    background-color: @white-color;
  }

}

.advantages__heading {
  padding: 46px 0 42px;
  background-color: @base-color;
}

.advantages__title, .advantages__descriotion, .advantages__number, .advantages__list {
  .container();
  text-align: center;
}

.advantages__title, .advantages__field {
  .title();

  &--style-change{
    color: @white-color;
  }

}

.advantages__number, .advantages__descriotion, .advantages__value {
  .description();

  &--style-change{
    color: @white-color;
  }

}

.advantages__title {
  margin-bottom: 11px;
}

.advantages__number {
  margin-bottom: 14px;
}

.advantages__img {
  background-color: @white-color;
}

.advantages__list {
  padding: 10px 0 8px;
  text-align: left;
  list-style: none;
}

.advantages__cell {
  padding-left: 50px;
  margin-bottom: 27px;
}

