.btn {
  .accentuation();
  padding: 15px 46px;
  border: 0;
  background-color: @base-color;
  color: @white-color;
  text-decoration: none;
}

@media @tablet-widths {
  .btn {
    padding: 15px 135px;
  }

}

@media @desktop-widths {

}
