.btn {
  .accentuation();
  width: 280px;
  height: 58px;

  border: 0;
  background-color: @base-color;
  color: @white-color;
  text-decoration: none;
}

@media @tablet-widths {

  .btn {
    width: 324px;
  }

}

@media @desktop-widths {

  .btn {
    width: 480px;
  }

}
