.field {
  width: 100%;
  padding: 0;
  margin: 0;

  border: 0;
}

.field__title {
  .title();
  margin-bottom: 22px;

  text-align: center;
  line-height: 26px;
}

.field__label {
  display: flex;
  width: 280px;
  margin: auto;
  margin-bottom: 20px;

  align-items: center;

  &--radio {
    margin-bottom: 13px;
  }

  &--checkbox {
    margin-bottom: 24px;
  }

  &--phone, &--email {
    position: relative;

    flex-direction: column;
    align-items: stretch;
  }

  &--phone::before {
    content: "";
    position: absolute;
    top: 30px;
    right: 0;

    width: 58px;
    height: 58px;

    background: #e6e6e6 url("@{path-img}/icon-phone.svg") no-repeat center;
  }

  &--email::before {
    content: "";
    position: absolute;
    top: 30px;
    right: 0;

    width: 58px;
    height: 58px;

    background: #e6e6e6 url("@{path-img}/icon-mail.svg") no-repeat center;
  }

  &--checkbox {
    position: relative;
  }

  &:last-child {
    margin-bottom: 0;
  }

}

.field__label-name {
  .description();

  margin-right: 19px;

  cursor: pointer;

  &--contacts {
    padding: 0 0 9px 21px;
  }

  &--radio, &--checkbox {
    .title-line();

    position: relative;
    display: flex;

    align-items: center;
    flex-wrap: wrap;
  }

}

.field__input--radio + .field__label-name--radio::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 56px;
  height: 56px;
  margin-right: 22px;

  background-color: @smoky-white-color;
  border-radius: 50%;
}

.field__input--radio + .field__label-name--radio:hover::before {
  background-color: #e5e5e5;
}

.field__input--radio + .field__label-name--radio:active::before {
  background-color: #d5d5d5;
}

.field__input--radio:checked + .field__label-name--radio::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 17px;
  display: inline-block;
  width: 22px;
  height: 22px;

  background-color: @black-color;
  border-radius: 50%;
}

.field__input--radio + .field__label-name--radio:active::after {
  opacity: 0.3;
}

.field__input--checkbox ~ .field__label-name--checkbox::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 56px;
  height: 56px;
  margin-right: 22px;

  background-color: @smoky-white-color;
  border-radius: 4px;
}

.field__input--checkbox ~ .field__label-name--checkbox:hover::before {
  background-color: #e5e5e5;
}

.field__input--checkbox ~ .field__label-name--checkbox:active::before {
  background-color: #d5d5d5;
}

.field__tick-icon {
  display: none;
}

.field__input--checkbox:checked ~ .field__tick-icon {
  position: absolute;
  left: 16px;

  display: block;

  fill: #333333;

  cursor: pointer;
  z-index: 1;
}

.field__label-name--checkbox:active ~ .field__tick-icon {
  opacity: 0.3;
}

.field__input {
  .title-line();
  padding: 16px 21px;

  border: 0;
  background-color: @smoky-white-color;

  &--text {
    width: 100%;
  }

  &--contacts {
    box-sizing: border-box;
    width: 280px;
  }

  &--radio, &--checkbox {
    display: none;
  }

  &--textarea {
    box-sizing: border-box;
    display: block;
    width: 280px;
    margin: 0 auto 18px;
    resize: none;
  }

  &::placeholder {
    color: @black-color;
  }

  &:focus::placeholder {
    color: transparent;
  }

  &:hover {
    background-color: #e5e5e5;
  }

   &:focus {
    background-color: #ffffff;
    outline: 4px solid #e5e5e5;
    outline-offset: -4px;
  }

}

.field__help-block {
  position: relative;
  top: 5px;
  left: 18px;

  display: none;

  color: #ff5c5c;
}

.field__input--contacts:invalid + .field__help-block {
  display: inline;
}

.field__note {
  display: none;
}

@media @tablet-widths {
  .field {

    &--text {
      border-left: 1px solid @grey-color;
    }

    &--text, &--radio {
      width: 50%;
      margin: 0 0 18px;
    }

    &--contacts {
      margin: 0 0 2px;
    }

    &--checkbox {
      margin: 0 0 10px;
    }

    &--textarea {
      margin: 0 0 5px;
    }

  }

  .field__title {
    .accentuation();

    &--text {
      margin-left: 56px;

      text-align: left;
    }

    &--radio {
      text-align: left;
    }

    &--text, &--radio {
      margin-bottom: 58px;
    }

    &--contacts {
      margin-bottom: 25px;
    }

    &--checkbox {
      width: 280px;
      margin-bottom: 35px;
    }

    &--textarea {
      margin-bottom: 57px;
    }

    &--contacts, &--checkbox, &--textarea {
      position: relative;
    }

    &--line::before, &--line::after {
      content: "";
      position: absolute;
      bottom: 12px;
      display: block;
      width: 125px;
      height: 1px;
      border-top: 1px solid #dbdbdb;
    }

    &--line::before {
      left: -185px;
    }

    &--line::after {
      right: -185px;
    }


    &--checkbox::before, &--checkbox::after {
      bottom: 24px;
    }

  }

  .field__span {
    display: inline;

    &--text {
      display: none;
    }

  }

  .field__wrap {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;

    &--checkbox {
      width: 460px;
      margin: 0 auto;
    }

    &--last {
      align-items: center;
    }
  }

  .field__label {

    &--text {
      width: 266px;
      margin: 0 0 20px 57px
    }

    &--phone, &--email {
      width: 100%;
      margin-bottom: 24px;
    }

    &--radio {
      margin: 0 0 22px;
    }

    &--checkbox {
      width: 200px;
      margin: 0;
    }

    &--checkbox:first-child {
      order: -2;

      margin: 6px 0 33px;
    }

    &--checkbox:nth-child(3) {
      order: -1;

      margin: 6px 0 33px;
    }

  }

  .field__input {

    &--contacts, &--textarea {
      width: 100%;
    }

  }

  .field__label-name {

    &--checkbox {
      margin-right: 0;
    }

  }

  .field__note {
    .description();

    display: inline;

    line-height: 26px;
  }

  .field__help-block {
    position: absolute;
    top: -2px;
    left: initial;
    right: 0;
  }

}

@media @desktop-widths {

  .field {

    &--radio {
      width: 468px;
      margin: 0 auto;
    }

  }

  .field__title {

    &--text {
      margin: 0 0 57px 77px;
    }

    &--radio {
      margin: 0 0 59px 72px;
    }

    &--contacts {
      margin-bottom: 75px;
    }

    &--checkbox {
      margin-bottom: 44px;
    }

    &--line::before, &--line::after {
      width: 280px;
    }

    &--line::before {
      left: -343px;
    }

    &--line::after {
      right: -343px;
    }

  }

  .field__wrap {
    display: flex;
    width: 100%;
    margin: auto;
  }

  .field__label {

    &--text {
      width: 400px;
      margin: 0 0 20px 80px;
    }

    &--phone, &--email {
      display: inline-block;
      width: 478px;
      margin-bottom: 0;

      vertical-align: top;
    }

    &--phone {
      width: 401px;
      margin-right: 77px;
    }

    &--phone::before, &--email::before {
      top: 0;
    }

    &--checkbox {
      width: auto;
      margin: 0;
    }

    &--checkbox:first-child, &--checkbox:nth-child(3) {
      margin: 0;
    }

  }

.field__label-name {
  .description();

  &--contacts {
    padding: 0;
    margin-right: 17px;
  }

  &--radio, &--checkbox {
    .title-line();
  }

  &--checkbox {
    margin-right: 0;

    text-transform: none;
  }

}

  .field__span {

    &--text {
      display: inline;
    }

    &--contacts {
      display: none;
    }
  }

  .field__input {

    &--contacts {
      width: 315px;
    }

  }

  .field__help-block {
    position: absolute;
    top: -33px;
    right: 102px;
  }

}
