.field {
  .container();
  padding: 0;

  border: 0;
}

.field__title {
  .title();
  margin-bottom: 20px;
  // padding-top: 20px;

  text-align: center;
  line-height: 26px;
}

.field__label {
  display: block;
  margin-bottom: 20px;
}

.field__label:last-child {
  margin-bottom: 0;
}

.field__label-name {
  .description();
  display: inline-block;
  margin-bottom: 10px;

  line-height: inherit;

  &--style-change {
    .title-line();
  }

}

.field__input {
  .title-line();
  padding: 16px 21px;
  border: 0;
  background-color: @smoky-white-color;

  &--text {
    box-sizing: border-box;
    width: 192px;
  }

  &--textarea {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 18px;
    resize: none;
  }

  &::placeholder {
    color: @black-color;
  }

  &:focus::placeholder {
    color: transparent;
  }

}

@media @tablet-widths {
  .field__title {
    .accentuation();
  }
}
