.gallery {
  background-color: @white-color;

  line-height: 0;
}

.gallery__item {
  .container();

  padding: 22px 0 15px;

  border-top: 1px solid #e5e5e5;
}

.gallery__img {
  margin-bottom: 15px;
}

.gallery__title, .gallery__likes {
  margin: 0;

  font-size: inherit;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.gallery__author {
  margin: 0 0 5px;

  font-size: inherit;
  line-height: 24px;
  color: @text-alt-color;
}

.gallery__icon-like {
  margin: 0 10px 0 0;

  fill: #b2b2b2;
}

@media @tablet-widths {

  .gallery__wrap {
    .container();

    display: flex;

    flex-wrap: wrap;
  }

  .gallery__item {
    width: 324px;
    margin: 0;
    padding: 0;

    border-top: 0;

    &--wide {
      width: 648px;
    }

  }

  .gallery__img {
    margin-bottom: 0;
  }

  .gallery__description {
    display: flex;
    height: 80px;
    padding: 0 20px;

    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    background-color: @smoky-white-color;

    &--odd {
      background-color: #eaeaea;
    }
  }

  .gallery__title {
    padding: 10px 0 0;
  }

  .gallery__author {
    padding: 0 0 10px;
  }

  .gallery__likes {
    text-align: right;
  }

  .gallery__icon-like {
    fill: #a9a9a9;

    &--third {
      fill: #a3a3a3;
    }
  }

}

@media @desktop-widths {

  .gallery__wrap {
    width: 1200px;
  }

  .gallery__item {
    position: relative;
    width: 400px;

    &--wide {
      width: 1200px;
    }

  }

  .gallery__description {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    bottom: 0;

    background-color: @black-color-03;
  }

  .gallery__title, .gallery__author, .gallery__likes {
    color: @white-color;
  }

  .gallery__icon-like {
    fill: @white-color;
  }

}
