.main-nav {
  position: relative;

  min-height: 55px;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  display: block;
  width: 70px;
  height: 50px;

  font-size: 0;

  background-color: @white-color;
  cursor: pointer;

  border: none;

  &:hover {
    background-color: @base-color-hvr;
  }

  &:active {
    background-color: @base-color-down;

  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;

  width: 36px;
  height: 2px;

  background-color: @base-color;
  box-shadow: 0 8px 0 0 @base-color,
              0 16px 0 0 @base-color;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3),
              0 16px 0 0 rgba(255, 255, 255, 0.3);
}

.main-nav--opened .main-nav__toggle {
  background-color: @base-color;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;

    width: 36px;
    height: 2px;

    background-color: @white-color;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  padding: 16px 0;

  background-color: @base-color;

  text-align: center;
}

.main-nav__link {
  .title();
  color: @white-color;
  text-decoration: none;
}

.main-nav__logo {
  // position: absolute;
  // top: 0;

  width: 100%;
  height: 55px;

  text-align: center;

  z-index: 0;
}

@media @mobile-widths-only {

  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }

}

@media @tablet-widths {

  .main-nav {
    min-height: 55px;

    font-size: 0;
  }

  .main-nav--opened .main-nav__logo, .main-nav--nojs .main-nav__logo {
    display: block;
  }

  .main-nav__item {
    display: inline-block;
    min-width: 20%;
    padding: 0;

    background-color: @white-color;

    vertical-align: top;
  }

  .main-nav__item:nth-child(2) {
    margin-right: 20%;
  }

  .main-nav__link {
    display: block;
    padding: 14px 0 17px;

    font-size: 14px;
    line-height: 26px;
    color: @black-color;
    vertical-align: middle;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__logo {
    position: absolute;
    top: 0;
  }

}

@media @desktop-widths {

   .main-nav {
    width: 1200px;
   }

}
