.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  padding: 16px 0 14px;
  background-color: @base-color;
  text-align: center;
}

.main-nav__link {
  .title();
  color: @white-color;
  text-decoration: none;
}
