.page-footer {
  padding: 5px 0;
}

.page-footer__wrapper {
  .container();
  text-align: center;
}

.page-footer__hashtag {
  .accentuation();
}

.page-footer__copyright {
  .description();
  line-height: inherit;
}
