.page-headline__logo {
  background: @white-color url("@{path-img}/bg-back-mobile@1x.jpg") no-repeat;
  background-size: cover;
}

.page-headline__title {
  .container();
  .title();
  padding: 40px 0 28px;
  text-align: center;
  line-height: 26px;
}

.page-headline__description {
  .container();
  .description();
  padding-bottom: 17px;
  text-align: center;
  line-height: inherit;
}
