.page-headline {
  background-color: @white-color;

  &--style-change {
    padding: 0 0 10px;
  }
}

.page-headline__logo {
  padding: 51px 47px 68px;

  background-color: @white-color;
  background: url("@{path-img}/bg-intro-triangle-mobile.svg") no-repeat 0 100%,
              url("@{path-img}/bg-back-mobile@1x.jpg") no-repeat center;
  background-size: 100%, cover;

  text-align: center;
  line-height: 0;

  &--index {
    padding: 90px 18px 84px;
  }

}

.page-headline__title {
  .container();
  .title();
  width: 260px;
  padding: 38px 0 28px;

  text-align: center;
  line-height: 26px;

  &--style-change {
    padding-bottom: 26px;
  }
}

.page-headline__description {
  .container();
  .description();
  padding-bottom: 28px;

  text-align: center;
  line-height: inherit;

  &--style-change {
    padding-bottom: 16px;

    line-height: 24px;
  }
}

@media (max-width: 767px) and (min-resolution: 144dpi),
       (max-width: 767px) and (min-resolution: 1.5dppx) {

  .page-headline__logo {
    background-image: url("@{path-img}/bg-intro-triangle-mobile.svg"),
                      url("@{path-img}/bg-back-mobile@2x.jpg");
  }

}

@media @tablet-widths {

  .page-headline {
    font-size: 0;

    &--style-change {
      padding: 0 0 20px;
    }
  }

  .page-headline__logo {
    padding: 93px 47px 116px;

    background: url("@{path-img}/bg-intro-triangle-tablet.svg") no-repeat 0 100%,
                url("@{path-img}/bg-back-tablet@1x.jpg") no-repeat center;
    background-size: 100%, cover;

    &--index {
      padding: 75px 18px 92px;
    }

  }

  .page-headline__title {
    .accentuation();
    width: 490px;
    padding-top: 50px;

    &--style-change {
      .accentuation-2x();
      padding: 74px 0 31px;
    }
  }

  .page-headline__description {
    padding-bottom: 50px;

    &--style-change {
      width: 436px;
    }

  }
}

@media (min-width: 768px) and (min-resolution: 144dpi),
       (min-width: 768px) and (min-resolution: 1.5dppx) {

  .page-headline__logo {
    background-image: url("@{path-img}/bg-intro-triangle-tablet.svg"),
                      url("@{path-img}/bg-back-tablet@2x.jpg");
  }

}

@media @desktop-widths {
  .page-headline {
    width: 1200px;

    &--style-change {
      padding: 0 0 37px;
    }

  }

  .page-headline__logo {
    padding: 100px 47px 120px;

    background: url("@{path-img}/bg-intro-triangle-desktop.svg") no-repeat 0 100%,
                url("@{path-img}/bg-back-desktop@1x.jpg") no-repeat center;
    background-size: 100%, cover;

    &--index {
      padding: 77px 18px 90px;
    }

  }

  .page-headline__title {
    &--style-change {
      padding: 110px 0 31px;
    }
  }

  .page-headline__description {

    &--style-change {
      padding-bottom: 35px;
    }
  }

}

@media (min-width: 1200px) and (min-resolution: 144dpi),
       (min-width: 1200px) and (min-resolution: 1.5dppx) {

  .page-headline__logo {
    background-image: url("@{path-img}/bg-intro-triangle-desktop.svg"),
                      url("@{path-img}/bg-back-desktop@2x.jpg");
  }

}
