.review-form {
  padding-bottom: 46px;

  background-color: @white-color;
}

.review-form__wrap {
  position: relative;
}

.review-form__item {
  width: 100%;
  padding: 19px 0 24px;

  border-top: 1px solid @grey-color;

  &--last {
    padding: 0;

    border-top: none;
  }

  &--hidden {
    position: absolute;

    display: none;
    width: 100%;
    padding: 23px 0 35px;

    background-color: @white-color;
    border: 0;
    box-shadow: 0 -3px 10px -5px @black-color-02,
                0 11px 20px -5px @black-color-02;

    z-index: 100;
  }

  &--error {
    bottom: 467px;
  }

  &--close {
    bottom: 99px;

    padding: 23px 0 0;
  }

}

.review-form__title {
  .title();

  margin-bottom: 25px;

  text-align: center;
  line-height: 26px;
}

.review-form__descriotion {
  .description();

  width: 216px;
  margin: 0 auto 23px;

  text-align: center;
  line-height: 24px;
}

.review-form__outline {
  margin: 34px 0 0;
  padding: 20px 0;

  background-color: @smoky-white-color;
}

@media @tablet-widths {
  .review-form {
    padding-bottom: 72px;
  }

  .review-form__wrap {
    .container();

    display: flex;

    justify-content: center;
    flex-wrap: wrap;
  }

  .review-form__item {
    padding: 25px 0 26px;

    border-top: 0;

    &--first {
      width: 50%;

      order: -1;
    }

    &--second {
      width: 50%;
    }

    &--last {
      padding: 10px 0 0;
    }

    &--error {
      bottom: 200px;

      width: 400px;
    }

    &--close {
      padding-bottom: 0;
    }
  }

  .review-form__title {
    .accentuation-2x();
  }

  .review-form__outline {
    padding: 44px 0;
  }

}

@media @desktop-widths {
  .review-form {
    padding-bottom: 66px;
  }

  .review-form__item {
    &--last {
      padding: 8px 0 0;
    }

    &--close {
      width: 640px;
    }
  }
}
