.video {
  padding: 35px 0 115px;

  background-color: @white-color;

  text-align: center;
}

.video__title {
  .container();
  .title();
  margin-bottom: 27px;
}

.video__description {
  .container();
  .description();
  width: 240px;
  margin-bottom: 36px;

  line-height: 24px;
}

.video__player {
  display: flex;
  width: 320px;
  min-height: 267px;
  margin: 0 auto;

  align-items: flex-end;

  background-color: @white-color;
  background: url("@{path-img}/video-mobile@1x.jpg") no-repeat;
  background-size: 100%;

  line-height: 0;
}

.video__controls {
  display: flex;
  width: 280px;
  margin: 0 auto;

  flex-wrap: wrap;
  justify-content: flex-end;

  background: @black-color-06;
}

.video__scale {
  position: relative;
  width: 100%;
  padding: 20px 0;


  text-align: center;

  &::before {
    content: "";
    display: inline-block;
    width: 235px;
    height: 3px;

    background: @white-color-02;

    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 57px;

    display: block;
    width: 10px;
    height: 10px;

    background: @white-color;
    border-radius: 50%;

    z-index: 2;
  }
}

.video__icon {
  background: @smoky-white-color;

  fill: @controls;

  &--replay {
    padding: 23px 130px 23px 23px;
  }

  &--subtitles {
    padding: 23px 32px 23px 0;
  }

  &--fullscreen {
    padding: 23px 23px 23px 0;
  }

  &:hover {
    fill: @controls-hvr;
  }

  &:active {
    fill: @controls-down;
  }

}

@media (max-width: 767px) and (min-resolution: 144dpi),
       (max-width: 767px) and (min-resolution: 1.5dppx) {

  .video__player {
    background-image: url("@{path-img}/video-mobile@2x.jpg");
  }
}

@media @tablet-widths {
  .video {
    padding: 68px 0 50px;
  }

  .video__title {
    .accentuation-2x();
    margin-bottom: 31px;
  }

  .video__description {
    width: 416px;
    margin-bottom: 73px;
  }

  .video__player {
    width: 648px;
    min-height: 500px;

    background: url("@{path-img}/video-tablet@1x.jpg") no-repeat;
    background-size: cover;
  }

  .video__controls {
    width: 100%;
    padding: 24px 16px;

    justify-content: space-around;
    align-items: center;
  }

  // .video__controls {
  //   position: absolute;
  //   left: 0;

  //   width: 100%;
  //   padding: 37px 0;

  //   text-align: left;

  //   &:after {
  //     display: none;
  //   }
  // }

  // .video__icon {
  //   position: static;

  //   fill: @white-color;

  //   &--replay {
  //     margin: 0 0 0 33px;
  //   }

  //   &--subtitles {
  //     margin: 0 0 0 39px;
  //   }

  //   &--fullscreen {
  //     margin: 0 0 0 27px;
  //   }

  //   &:hover {
  //     fill: @white-color-07;
  //   }

  //   &:active {
  //     fill: @white-color-03;
  //   }
  // }

  // .video__scale {
  //   top: -8px;

  //   width: 389px;
  //   margin: 0 0 0 36px;
  // }

  // .video__slider {
  //   left: 112px;
  // }

  .video__scale {
    width: auto;

    &::before {
      width: 389px;
    }

    &::after {
      left: 120px;
    }
  }

  .video__icon {
    padding: 0;

    background: transparent;

    fill: @white-color;

    &--replay {
      order: -1;
    }

    &:hover {
      fill: @white-color-07;
    }

    &:active {
      fill: @white-color-03;
    }
  }

}

@media (min-width: 768px) and (min-resolution: 144dpi),
       (min-width: 768px) and (min-resolution: 1.5dppx) {

  .video__player {
    background-image: url("@{path-img}/video-tablet@2x.jpg");
  }
}

@media @desktop-widths {
  .video {
    padding: 70px 0 85px;
  }

  .video__player {
    width: 800px;

    background-image: url("@{path-img}/video-desktop@1x.jpg");
  }

  .video__scale {

    &::before {
      width: 544px;
    }

    &::after {
      left: 114px;
    }
  }
}

@media (min-width: 1200px) and (min-resolution: 144dpi),
       (min-width: 1200px) and (min-resolution: 1.5dppx) {

  .video__player {
    background-image: url("@{path-img}/video-desktop@2x.jpg");
  }
}
